<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <p>
        <input type="text" name="username" placeholder="username">
      </p>
      <p>
        <input type="password" name="password" placeholder="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
