doctype html
html
  head
    meta(charset='utf8')
    style
      *{text-decoration:none}
  body
    h1
      if sel=='undefined'
        a(href='/topic?page='+currentPage) HOMEPAGE☆
      else
        a(href='/topic?page='+ currentPage+'&sel='+sel+'&find='+find) HOMEPAGE☆
    artcle
      form(action='/topic/add?page=1' method='post')
        p 제목
          input(type='text' name='title' placeholder='title' size='98')
        p 내용
          textarea(name='description' placeholder='description' rows='20' cols='100')
        p 작성자
          input(type='text' name='author' placeholder='author' size='30')
        p
          input(type='submit' value='등록하기')
