doctype html
html
  head
    meta(charset='utf8')
    style
      *{text-decoration:none}
  body
    h1
      if sel=='undefined'
        a(href='/topic?page='+currentPage) HOMEPAGE☆
      else
        a(href='/topic?page='+ currentPage+'&sel='+sel+'&find='+find) HOMEPAGE☆
    artcle
      h2= topic.title+'를(을) 정말 삭제하시겠습니까?ㅠㅠ'
      if sel=='undefined'
        form(action='/topic/'+topic.id+'/delete?page='+currentPage method='post')
          p
            input(type='submit' value='네~!!!!')
            button
              a(href='/topic/'+topic.id+'?page='+currentPage) 아니오!_!
      else
        form(action='/topic/'+topic.id+'/delete?page='+currentPage+'&sel='+sel+'&find='+find method='post')
          p
            input(type='submit' value='네~!!!!')
            button
              a(href='/topic/'+topic.id+'?page='+currentPage+'&sel='+sel+'&find='+find) 아니오!_!
