<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <script type="text/javascript">
    $(document).ready(function(){




      $("#selectAll").click(function(){

        $("input:checkbox[name='select[]']").each(function(e){
          if($("#selectAll").is(":checked") === true){
            $(this).prop("checked", true);


          } else {
            $(this).prop("checked", false);
          }
        });
      });



      $('#cancel').click(function(){
        window.close();
      });

      $('#register').click(function(){
        if($("#selectAll").is(":checked") === true){
          location.href="/auth/register";
        } else if($("#select1").is(":checked") === true && $("#select2").is(":checked") === true){
          location.href="/auth/register";
        }
          else {
          alert("필수항목 체크 해주세요!");
        }
      });


    });
  </script>
  <body>
    <div class="">
      <p>이용 약관, 개인정보 수집에 모두 동의합니다. <input type="checkbox" name="selectAll" value="" id="selectAll"></p>
      <p>이용약관에 동의합니다.(필수)<input type="checkbox" name="select[]" value="" id="select1"><br><textarea name="" rows="8" cols="80" placeholder="이용약관 내용"></textarea></p>
      <p>개인정보 수집 및 이용에 동의합니다.(필수)<input type="checkbox" name="select[]" value="" id="select2"><textarea name="" rows="8" cols="80" placeholder="개인정보 수집 및 이용내용"></textarea></p>
    </div>
    <div class="">
      <button id="cancel" type="button" name="button">비동의</button>
      <button id="register" type="button" name="button">동의하고<br>회원가입하기</button>
    </div>

  </body>
</html>
