<!DOCTYPE html>
<html>
  <head>
    <% include ./home/head %>
  </head>
  <body>
    <header>
      <% include ./home/header %>
    </header>
    <div class="board_title">
      <% include ./part/top %>

      <!-- main -->
          <!-- views/new.ejs -->
      <div class="new">
        <h3>Create Content</h3>
        <form class="form" action="/home" method="post">
          <label for="">Title</label>
          <input type="text" name="result[title]" value="">
          <label for="">Content</label>
          <textarea name="result[content]" rows="8" cols="80"></textarea>
          <label for="">Writer</label>
          <input type="text" name="result[creator_id]" value="">
          <button type="submit">Submit</button>
        </form>
        <a href="/home"><button>Back</button></a>
      </div>



     <!-- /main-->
     <footer>
       <% include ./home/footer.ejs %>
     </footer>
   </body>
 </html>
