doctype html
html
  head
    meta(charset='utf-8')
    script(src="http://code.jquery.com/jquery-3.2.0.js"
    integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
    crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script.
      $(document).ready(function(){
        var f_obj = $('form[role="submit"]');
        $('#Submit').on('click', function(){
          var title = $('#title').val();
          var text = $('#text').val();
          var writer = $('#writer').val();

          $.ajax({
            url: '/add',
            type: 'post',
            data: {title:title,text:text,writer:writer},
            success:function(data){
              alert("성공");
            }
          });
          f_obj.attr('action', '/add');
          f_obj.attr('method', 'post');
          f_obj.submit();
        });
      });
  body
    form(role="submit")
        p
          label TITLE
        p
          input(type='text' id='title' placeholder='title' value="")
        p
          label TEXT
        p
          textarea(id='text' rows='3' placeholder='text')
        p
          label WRITER
        p
          input(type='text' id='writer' placeholder='writer' value="")
        #btn_func
      button#Submit 확인
